/* line 7, ../sass/base/base.scss */
body {
  font-size: 14px;
  font-family: Helvetica,Arial, sans-serif;
  color: #707070;
  background: #FDFCFA;
}
@media screen and (min-width: 600px) {
  /* line 7, ../sass/base/base.scss */
  body {
    font-size: 14px;
  }
}

/* line 16, ../sass/base/base.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 20, ../sass/base/base.scss */
.section {
  padding: 20% 8%;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}
@media screen and (min-width: 600px) {
  /* line 20, ../sass/base/base.scss */
  .section {
    padding: 5% 8%;
  }
}

/* line 30, ../sass/base/base.scss */
.section.sec {
  padding-left: 12%;
}

/* line 33, ../sass/base/base.scss */
.sec-title {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translateX(-10vh);
  transform-origin: left top;
  position: absolute;
  top: 60vh;
  left: 10%;
  transition: 2s;
  line-height: 24px;
}
/* line 43, ../sass/base/base.scss */
.sec-title span {
  display: inline-block;
  font-size: 0px;
  margin: auto 12px;
  width: 10vh;
  border-bottom: 1px solid;
}

/* line 51, ../sass/base/base.scss */
input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 62, ../sass/base/base.scss */
input, textarea, button {
  background: #fff;
  padding: 5px 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 28px;
}

/* line 71, ../sass/base/base.scss */
#header h1.logo {
  font-size: 1.3em;
  padding-left: 8%;
  letter-spacing: 4px;
}

/* line 78, ../sass/base/base.scss */
a.disabled {
  pointer-events: none;
}

/* line 81, ../sass/base/base.scss */
a.toHome {
  display: block;
  text-align: center;
  margin-top: 150px;
  width: 100%;
  padding: 10px;
  background-color: #DD7373;
  color: #fff;
  box-sizing: border-box;
}

/* line 91, ../sass/base/base.scss */
.thanks-message {
  font-size: 1.5em;
  margin-top: 80px;
  margin-bottom: 50px;
}

/* line 5, ../sass/style.scss */
#header {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
/* line 10, ../sass/style.scss */
#header .header-nav {
  position: absolute;
  top: 30px;
  right: 8%;
}
/* line 15, ../sass/style.scss */
#header h1 {
  font-size: 3.0em;
  font-weight: bold;
  letter-spacing: 5px;
  color: #707070;
  margin-bottom: 10px;
}
@media screen and (min-width: 600px) {
  /* line 15, ../sass/style.scss */
  #header h1 {
    font-size: 4.0em;
    letter-spacing: 8px;
  }
}
/* line 26, ../sass/style.scss */
#header p {
  letter-spacing: -0.5px;
}
@media screen and (min-width: 600px) {
  /* line 26, ../sass/style.scss */
  #header p {
    letter-spacing: 1px;
  }
}

/* line 33, ../sass/style.scss */
#menuToggle {
  width: 40px;
  height: 30px;
  position: relative;
}
/* line 37, ../sass/style.scss */
#menuToggle span {
  display: block;
  width: 100%;
  border-bottom: 3px solid;
  position: absolute;
  transition: 0.4s ease-in-out;
}
/* line 43, ../sass/style.scss */
#menuToggle span:nth-child(1) {
  top: 0px;
}
/* line 44, ../sass/style.scss */
#menuToggle span:nth-child(2) {
  top: 15px;
}
/* line 45, ../sass/style.scss */
#menuToggle span:nth-child(3) {
  top: 30px;
}

/* line 48, ../sass/style.scss */
.slide-nav {
  position: absolute;
  top: -100vh;
  left: 0px;
  width: 100vw;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.8s ease-in-out;
  z-index: 99;
  text-align: center;
}
/* line 58, ../sass/style.scss */
.slide-nav ul {
  text-align: center;
}
/* line 60, ../sass/style.scss */
.slide-nav ul li {
  line-height: 2.5em;
  font-size: 1.5em;
  font-weight: bold;
  transition: .4s ease-in-out;
}
/* line 65, ../sass/style.scss */
.slide-nav ul li:hover {
  color: blue;
  transition: .4s ease-in-out;
}

/* line 75, ../sass/style.scss */
.openNav #menuToggle span {
  transform-origin: center center;
  transition: 0.2s ease-in-out;
}
/* line 78, ../sass/style.scss */
.openNav #menuToggle span:nth-child(1) {
  top: 15px;
  transform: rotate(45deg);
}
/* line 82, ../sass/style.scss */
.openNav #menuToggle span:nth-child(2) {
  top: 15px;
  transform: rotate(-45deg);
}
/* line 86, ../sass/style.scss */
.openNav #menuToggle span:nth-child(3) {
  top: 15px;
  transform: rotate(45deg);
}
/* line 92, ../sass/style.scss */
.openNav .slide-nav {
  top: 100px;
  transition: 0.8s ease-in-out;
}

/* line 97, ../sass/style.scss */
#vision {
  background: #fff;
  height: 100vh;
}
/* line 100, ../sass/style.scss */
#vision .vision-img {
  background: url("../img/world.png") no-repeat;
  background-position: center;
  background-size: cover;
  background-size: contain;
  background-position: top;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
/* line 110, ../sass/style.scss */
#vision .sec-content {
  width: 80%;
  margin: auto 0 0 auto;
}
@media screen and (min-width: 600px) {
  /* line 110, ../sass/style.scss */
  #vision .sec-content {
    width: 40%;
  }
}
/* line 116, ../sass/style.scss */
#vision .sec-content h3 {
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media screen and (min-width: 600px) {
  /* line 116, ../sass/style.scss */
  #vision .sec-content h3 {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 600px) {
  /* line 129, ../sass/style.scss */
  #products .sec-container {
    display: flex;
    justify-content: space-between;
  }
}
/* line 134, ../sass/style.scss */
#products .sec-container .pro-child {
  box-sizing: border-box;
  padding: 0 0 0 10%;
}
/* line 137, ../sass/style.scss */
#products .sec-container .pro-child:first-child {
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  /* line 134, ../sass/style.scss */
  #products .sec-container .pro-child {
    width: 48%;
    padding: 0 0 0 5%;
  }
  /* line 141, ../sass/style.scss */
  #products .sec-container .pro-child:first-child {
    margin-bottom: 0px;
  }
  /* line 144, ../sass/style.scss */
  #products .sec-container .pro-child:last-child {
    border-left: 1px solid;
  }
}
/* line 148, ../sass/style.scss */
#products .sec-container .pro-child .pro-img {
  width: 100%;
  height: 30vh;
  border-radius: 10px;
  margin-bottom: 50px;
}
@media screen and (min-width: 600px) {
  /* line 148, ../sass/style.scss */
  #products .sec-container .pro-child .pro-img {
    height: 300px;
  }
}
/* line 157, ../sass/style.scss */
#products .sec-container .pro-child .pro-img1 {
  background: url("../img/school.png") no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 160, ../sass/style.scss */
#products .sec-container .pro-child .pro-img2 {
  background: url("../img/web.png") no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 164, ../sass/style.scss */
#products .sec-container .pro-child .pro-text h3 {
  padding-bottom: 30px;
  margin-bottom: 15px;
  border-bottom: 1px solid;
}
/* line 169, ../sass/style.scss */
#products .sec-container .pro-child .pro-text p {
  margin-bottom: 50px;
}
@media screen and (min-width: 600px) {
  /* line 169, ../sass/style.scss */
  #products .sec-container .pro-child .pro-text p {
    width: 80%;
  }
}
/* line 175, ../sass/style.scss */
#products .sec-container .pro-child .pro-text .more {
  display: block;
  position: relative;
  width: 100px;
  line-height: 30px;
}
@media screen and (min-width: 600px) {
  /* line 175, ../sass/style.scss */
  #products .sec-container .pro-child .pro-text .more {
    width: 200px;
  }
}
/* line 183, ../sass/style.scss */
#products .sec-container .pro-child .pro-text .more .arrow {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100px;
}
@media screen and (min-width: 600px) {
  /* line 183, ../sass/style.scss */
  #products .sec-container .pro-child .pro-text .more .arrow {
    width: 200px;
  }
}
/* line 191, ../sass/style.scss */
#products .sec-container .pro-child .pro-text .more .arrow div {
  position: relative;
}
/* line 193, ../sass/style.scss */
#products .sec-container .pro-child .pro-text .more .arrow div span {
  position: absolute;
  display: block;
  bottom: 0px;
  right: 0px;
  border-bottom: 1px solid;
  transform-origin: bottom right;
}
/* line 200, ../sass/style.scss */
#products .sec-container .pro-child .pro-text .more .arrow div span:nth-child(1) {
  width: 100px;
}
@media screen and (min-width: 600px) {
  /* line 200, ../sass/style.scss */
  #products .sec-container .pro-child .pro-text .more .arrow div span:nth-child(1) {
    width: 200px;
  }
}
/* line 206, ../sass/style.scss */
#products .sec-container .pro-child .pro-text .more .arrow div span:nth-child(2) {
  width: 30px;
  transform: rotate(45deg);
}
@media screen and (min-width: 600px) {
  /* line 206, ../sass/style.scss */
  #products .sec-container .pro-child .pro-text .more .arrow div span:nth-child(2) {
    width: 30px;
  }
}

@media screen and (min-width: 600px) {
  /* line 222, ../sass/style.scss */
  #company .sec-container {
    display: flex;
    justify-content: space-between;
  }
}
/* line 227, ../sass/style.scss */
#company .sec-container .com-child {
  padding-left: 10%;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  /* line 227, ../sass/style.scss */
  #company .sec-container .com-child {
    width: 40%;
    margin-bottom: 0px;
  }
}
/* line 236, ../sass/style.scss */
#company .sec-container .about {
  display: flex;
  padding-left: 10%;
}
@media screen and (min-width: 600px) {
  /* line 236, ../sass/style.scss */
  #company .sec-container .about {
    width: 48%;
  }
}
/* line 242, ../sass/style.scss */
#company .sec-container .about .about-title {
  padding-right: 30px;
  padding-top: 10px;
  border-top: 2px solid;
  font-weight: bold;
  width: 30%;
}
/* line 249, ../sass/style.scss */
#company .sec-container .about .about-content {
  padding-top: 10px;
  border-top: 1px solid;
  width: 70%;
}
/* line 254, ../sass/style.scss */
#company .sec-container .about li {
  margin: 20px 0;
}

/* line 260, ../sass/style.scss */
#contact {
  background: #2F2E31;
  color: #fff;
  width: 100%;
  height: auto;
  padding: 5% 10%;
}
@media screen and (min-width: 600px) {
  /* line 260, ../sass/style.scss */
  #contact {
    padding: 5% 30%;
  }
}
/* line 271, ../sass/style.scss */
#contact .sec-header .form-nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 5px;
  background: linear-gradient(#2F2E31, #2F2E31 45%, #eee 45%, #eee 55%, #2F2E31 55%, #2F2E31);
}
/* line 276, ../sass/style.scss */
#contact .sec-header .form-nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
/* line 284, ../sass/style.scss */
#contact .sec-header .form-nav div .state {
  display: block;
  background-color: #2F2E31;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
/* line 293, ../sass/style.scss */
#contact .sec-header .form-nav-ja {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* line 300, ../sass/style.scss */
#contact .contact-text {
  margin: 30px 0px;
}
/* line 304, ../sass/style.scss */
#contact form .input {
  margin-bottom: 30px;
}
/* line 307, ../sass/style.scss */
#contact form p {
  margin-bottom: 5px;
}
/* line 310, ../sass/style.scss */
#contact form input, #contact form textarea {
  border-radius: 5px;
}
/* line 313, ../sass/style.scss */
#contact form textarea {
  height: 150px;
}
/* line 316, ../sass/style.scss */
#contact form button {
  width: 100%;
  padding: 10px;
  background-color: #DD7373;
  color: #fff;
}
/* line 322, ../sass/style.scss */
#contact form .confirm-button {
  display: flex;
  justify-content: space-between;
}
/* line 325, ../sass/style.scss */
#contact form .confirm-button button {
  width: 48%;
}
/* line 328, ../sass/style.scss */
#contact form .confirm-button button[value="back"] {
  background: #707070;
}

/* line 335, ../sass/style.scss */
#footer {
  padding: 10px 8%;
  text-align: right;
}
/* line 338, ../sass/style.scss */
#footer small {
  display: block;
  margin-top: 10px;
}
@media screen and (min-width: 600px) {
  /* line 335, ../sass/style.scss */
  #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* line 346, ../sass/style.scss */
  #footer::after {
    content: "";
    display: block;
  }
}
/* line 351, ../sass/style.scss */
#footer a {
  display: inline-block;
}
/* line 353, ../sass/style.scss */
#footer a:first-child {
  margin-right: 10px;
}

/* line 3, ../sass/page/school.scss */
.school-page {
  background: #fff;
  min-height: 100vh;
}
/* line 6, ../sass/page/school.scss */
.school-page #header {
  height: auto;
  min-height: unset;
  height: 100px;
  padding: 0 0 0 0;
}
/* line 12, ../sass/page/school.scss */
.school-page #school {
  margin: 5% 8%;
  background: #FDFCFA;
  padding: 10% 5%;
  text-align: center;
}
/* line 17, ../sass/page/school.scss */
.school-page #school .intro {
  border-bottom: 1px solid;
}
/* line 19, ../sass/page/school.scss */
.school-page #school .intro h2 {
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-bottom: 60px;
  font-weight: bold;
}
/* line 25, ../sass/page/school.scss */
.school-page #school .intro p {
  line-height: 1.8em;
  padding-bottom: 80px;
}
/* line 30, ../sass/page/school.scss */
.school-page #school .feature {
  border-bottom: 1px solid;
  padding: 5% 0px;
  margin-top: 60px;
}
@media screen and (min-width: 600px) {
  /* line 30, ../sass/page/school.scss */
  .school-page #school .feature {
    display: flex;
    justify-content: space-between;
  }
  /* line 37, ../sass/page/school.scss */
  .school-page #school .feature .border {
    display: block;
    border-left: 1px solid;
  }
}
/* line 43, ../sass/page/school.scss */
.school-page #school .feature article {
  padding: 5% 0%;
}
/* line 45, ../sass/page/school.scss */
.school-page #school .feature article:not(:last-child) {
  margin-bottom: 50px;
}
@media screen and (min-width: 600px) {
  /* line 43, ../sass/page/school.scss */
  .school-page #school .feature article {
    width: 30%;
  }
  /* line 50, ../sass/page/school.scss */
  .school-page #school .feature article:not(:last-child) {
    margin-bottom: 0px;
  }
}
/* line 54, ../sass/page/school.scss */
.school-page #school .feature article img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* line 60, ../sass/page/school.scss */
.school-page #school .feature h3 {
  font-size: 1.1em;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-weight: bold;
}
/* line 68, ../sass/page/school.scss */
.school-page #school .school-content {
  margin-top: 60px;
}
@media screen and (min-width: 600px) {
  /* line 68, ../sass/page/school.scss */
  .school-page #school .school-content {
    display: flex;
    justify-content: space-between;
  }
}
/* line 74, ../sass/page/school.scss */
.school-page #school .school-content article {
  padding: 5% 2% 2%;
  background-color: #F7F7F7;
  border-radius: 10px;
  box-sizing: border-box;
}
/* line 79, ../sass/page/school.scss */
.school-page #school .school-content article:not(:last-child) {
  margin-bottom: 50px;
}
@media screen and (min-width: 600px) {
  /* line 74, ../sass/page/school.scss */
  .school-page #school .school-content article {
    width: 30%;
  }
  /* line 84, ../sass/page/school.scss */
  .school-page #school .school-content article:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1100px) {
  /* line 74, ../sass/page/school.scss */
  .school-page #school .school-content article {
    width: 25%;
  }
}
/* line 91, ../sass/page/school.scss */
.school-page #school .school-content article img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* line 96, ../sass/page/school.scss */
.school-page #school .school-content article h3 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 30px;
}
/* line 103, ../sass/page/school.scss */
.school-page #school .school-content .content-img {
  background: url("../img/mark.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 130px;
}

/* line 113, ../sass/page/school.scss */
.confirm #header {
  min-height: unset;
  height: 100px;
  padding: 0 0 0 0;
}
